AscentAnalyticsDataFactory/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "AscentAnalyticsDataFactory"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"AzureSqlDatabase2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase2'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/QuantumTestenvWoSkills')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"schema": [],
				"typeProperties": {
					"schema": "TESTENV",
					"table": "WO_SKILLS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase2_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingCompanies')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CMP_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "COMPANY_CODE",
						"type": "nvarchar"
					},
					{
						"name": "COMPANY_NAME",
						"type": "nvarchar"
					},
					{
						"name": "COMPANY_ABBREV",
						"type": "nvarchar"
					},
					{
						"name": "ADDRESS1",
						"type": "nvarchar"
					},
					{
						"name": "ADDRESS2",
						"type": "nvarchar"
					},
					{
						"name": "ADDRESS3",
						"type": "nvarchar"
					},
					{
						"name": "CITY",
						"type": "nvarchar"
					},
					{
						"name": "STATE",
						"type": "nvarchar"
					},
					{
						"name": "ZIP_CODE",
						"type": "nvarchar"
					},
					{
						"name": "COUNTRY",
						"type": "nvarchar"
					},
					{
						"name": "SHIP_ADDRESS1",
						"type": "nvarchar"
					},
					{
						"name": "SHIP_ADDRESS2",
						"type": "nvarchar"
					},
					{
						"name": "SHIP_ADDRESS3",
						"type": "nvarchar"
					},
					{
						"name": "SHIP_CITY",
						"type": "nvarchar"
					},
					{
						"name": "SHIP_STATE",
						"type": "nvarchar"
					},
					{
						"name": "SHIP_ZIP_CODE",
						"type": "nvarchar"
					},
					{
						"name": "SHIP_COUNTRY",
						"type": "nvarchar"
					},
					{
						"name": "SITE_CODE",
						"type": "nvarchar"
					},
					{
						"name": "PHONE_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "ALT_PHONE_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "CUSTOMER_FLAG",
						"type": "nchar"
					},
					{
						"name": "VENDOR_FLAG",
						"type": "nchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_COMPANIES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingCountryCodes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "COC_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "CODE",
						"type": "nvarchar"
					},
					{
						"name": "COUNTRY_NAME",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_COUNTRY_CODES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingDepartment')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DPT_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "SYSCM_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "DIV_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "GLS_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "DEPT_NAME",
						"type": "nvarchar"
					},
					{
						"name": "SDF_DPT_001",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_DEPARTMENT"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingDivision')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "DIV_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "SYSCM_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "SDF_DIV_001",
						"type": "nvarchar"
					},
					{
						"name": "DIVISION_NAME",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_DIVISION"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingGLAccount')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "GLA_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "ACCOUNT_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "ACCOUNT_TYPE_DESC",
						"type": "nvarchar"
					},
					{
						"name": "SYSCM_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "GAC_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "GLS_AUTO_KEY0",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "GLS_AUTO_KEY1",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "GLS_AUTO_KEY2",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "GLS_AUTO_KEY3",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "GLS_AUTO_KEY4",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "LEDGER",
						"type": "nvarchar"
					},
					{
						"name": "SEQ",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "BUDGETED",
						"type": "nchar"
					},
					{
						"name": "COSTOFGOODS_FLAG",
						"type": "nchar"
					},
					{
						"name": "ALLOW_ENTRY",
						"type": "nchar"
					},
					{
						"name": "REPLACEABLE",
						"type": "nchar"
					},
					{
						"name": "OTHER_INCOME_FLAG",
						"type": "nchar"
					},
					{
						"name": "OTHER_EXPENSE_FLAG",
						"type": "nchar"
					},
					{
						"name": "CONTROL_ACCOUNT_FLAG",
						"type": "nchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_GL_ACCOUNT"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingGLAcctCat')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "GAC_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "GAC_PARENT",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "SYSCM_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "ACCOUNT_TYPE",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "SEQ",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "SDF_GAC_001",
						"type": "nvarchar"
					},
					{
						"name": "COSTOFGOODS_FLAG",
						"type": "nchar"
					},
					{
						"name": "OTHER_INCOME_FLAG",
						"type": "nchar"
					},
					{
						"name": "OTHER_EXPENSE_FLAG",
						"type": "nchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_GL_ACCT_CAT"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingGLDistribution')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "GLD_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "GLJ_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "GLA_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "CODE",
						"type": "nvarchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_GL_DISTRIBUTION"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingGLFiscal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "GLF_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "SYSCM_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "DESCRIPTION",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_GL_FISCAL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingGLJournal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "GLJ_AUTO_KEY\r\nGLJ_AUTO_KEY\r\nGLJ_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "CODE",
						"type": "nvarchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_GL_JOURNAL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingGLPeriod')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "GLP_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "GLF_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "FISCAL_START",
						"type": "date"
					},
					{
						"name": "FISCAL_END",
						"type": "date"
					},
					{
						"name": "GLP_FORWARD",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "GLP_LAST",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "IS_ACTIVE",
						"type": "nchar"
					},
					{
						"name": "BUDGET_PERIOD",
						"type": "nchar"
					},
					{
						"name": "FYE_PERIOD",
						"type": "nchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_GL_PERIOD"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingGLSegment')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "GLS_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "SEGMENT_NUMBER",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "ACCOUNT",
						"type": "nvarchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "ACCOUNT_TYPE",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "ACCOUNT_TYPE_DESC",
						"type": "nvarchar"
					},
					{
						"name": "SDF_GLS_002",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_GL_SEGMENT"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingGeoCodes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "GEO_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "GEO_CODE",
						"type": "nvarchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "SDF_GEO_001",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_GEO_CODES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingSysCompanies')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SYSCM_AUTO_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SDF_SYSCM_001",
						"type": "nvarchar"
					},
					{
						"name": "COMPANY_NAME",
						"type": "nvarchar"
					},
					{
						"name": "COMPANY_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ADDRESS1",
						"type": "nvarchar"
					},
					{
						"name": "ADDRESS2",
						"type": "nvarchar"
					},
					{
						"name": "ADDRESS3",
						"type": "nvarchar"
					},
					{
						"name": "CITY",
						"type": "nvarchar"
					},
					{
						"name": "STATE",
						"type": "nvarchar"
					},
					{
						"name": "ZIPCODE",
						"type": "nvarchar"
					},
					{
						"name": "COUNTRY",
						"type": "nvarchar"
					},
					{
						"name": "SHIP_NAME",
						"type": "nvarchar"
					},
					{
						"name": "FAA_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "GLA_EQUITY",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_SYS_COMPANIES"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingWoSkills')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "WOK_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "SDF_WOK_003",
						"type": "nvarchar"
					},
					{
						"name": "SDF_WOK_001",
						"type": "nvarchar"
					},
					{
						"name": "SDF_WOK_002",
						"type": "nvarchar"
					},
					{
						"name": "BILLING_RATE",
						"type": "decimal",
						"precision": 22,
						"scale": 19
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_WO_SKILLS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy Quantum Data to Staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Quantum SYS_COMPANIES Table to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Quantum COUNTRY_CODES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT SYS_COMPANIES.SYSCM_AUTO_KEY\n,SYS_COMPANIES.SDF_SYSCM_001\n,SYS_COMPANIES.COMPANY_NAME\n,SYS_COMPANIES.COMPANY_ID\n,SYS_COMPANIES.ADDRESS1\n,SYS_COMPANIES.ADDRESS2\n,SYS_COMPANIES.ADDRESS3\n,SYS_COMPANIES.CITY\n,SYS_COMPANIES.STATE\n,SYS_COMPANIES.ZIP_CODE\n,SYS_COMPANIES.COUNTRY\n,SYS_COMPANIES.SHIP_NAME\n,SYS_COMPANIES.FAA_NUMBER\n,SYS_COMPANIES.GLA_EQUITY\nFROM TESTENV.SYS_COMPANIES",
								"partitionOption": "None",
								"convertDecimalToInteger": true,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.TESTENV_SYS_COMPANIES",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SDF_SYSCM_001",
											"type": "String"
										},
										"sink": {
											"name": "SDF_SYSCM_001",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COMPANY_NAME",
											"type": "String"
										},
										"sink": {
											"name": "COMPANY_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COMPANY_ID",
											"type": "String"
										},
										"sink": {
											"name": "COMPANY_ID",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS1",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESS1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS2",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESS2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS3",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESS3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CITY",
											"type": "String"
										},
										"sink": {
											"name": "CITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STATE",
											"type": "String"
										},
										"sink": {
											"name": "STATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZIP_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ZIP_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COUNTRY",
											"type": "String"
										},
										"sink": {
											"name": "COUNTRY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIP_NAME",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FAA_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "FAA_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GLA_EQUITY",
											"type": "Double"
										},
										"sink": {
											"name": "GLA_EQUITY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvSysCompanies",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingSysCompanies",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum GEO_CODES",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT GEO_AUTO_KEY\n, GEO_CODE\n, DESCRIPTION\n, SDF_GEO_001\nFROM TESTENV.GEO_CODES",
								"partitionOption": "None",
								"convertDecimalToInteger": true,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.TESTENV_GEO_CODES",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GEO_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GEO_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GEO_CODE",
											"type": "String"
										},
										"sink": {
											"name": "GEO_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SDF_GEO_001",
											"type": "String"
										},
										"sink": {
											"name": "SDF_GEO_001",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvGeoCodes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingGeoCodes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum COUNTRY_CODES",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT COC_AUTO_KEY\n, CODE\n, COUNTRY_NAME\nFROM TESTENV.COUNTRY_CODES",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_COUNTRY_CODES",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "COC_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "COC_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "CODE",
											"type": "String"
										},
										"sink": {
											"name": "CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COUNTRY_NAME",
											"type": "String"
										},
										"sink": {
											"name": "COUNTRY_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvCountryCodes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingCountryCodes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum DIVISION",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Quantum SYS_COMPANIES Table to Staging",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT DIV_AUTO_KEY\n, SYSCM_AUTO_KEY\n, SDF_DIV_001\n, DIVISION_NAME\nFROM TESTENV.DIVISION",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_DIVISION",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DIV_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "DIV_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SDF_DIV_001",
											"type": "String"
										},
										"sink": {
											"name": "SDF_DIV_001",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DIVISION_NAME",
											"type": "String"
										},
										"sink": {
											"name": "DIVISION_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvDivision",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingDivision",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy GL_SEGMENT",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Quantum GEO_CODES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT GLS_AUTO_KEY\n, SEGMENT_NUMBER\n, ACCOUNT\n, DESCRIPTION\n, ACCOUNT_TYPE\n, ACCOUNT_TYPE_DESC\n, SDF_GLS_002\nFROM TESTENV.GL_SEGMENT",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_GL_SEGMENT",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GLS_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GLS_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SEGMENT_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "SEGMENT_NUMBER",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "ACCOUNT",
											"type": "String"
										},
										"sink": {
											"name": "ACCOUNT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ACCOUNT_TYPE",
											"type": "Decimal"
										},
										"sink": {
											"name": "ACCOUNT_TYPE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "ACCOUNT_TYPE_DESC",
											"type": "String"
										},
										"sink": {
											"name": "ACCOUNT_TYPE_DESC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SDF_GLS_002",
											"type": "String"
										},
										"sink": {
											"name": "SDF_GLS_002",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvGLSegment",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingGLSegment",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy GL_ACCT_CAT",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy GL_SEGMENT",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT GAC_AUTO_KEY\n, GAC_PARENT\n, SYSCM_AUTO_KEY\n, ACCOUNT_TYPE\n, SEQ\n, DESCRIPTION\n, SDF_GAC_001\n, COSTOFGOODS_FLAG\n, OTHER_INCOME_FLAG\n, OTHER_EXPENSE_FLAG\nFROM TESTENV.GL_ACCT_CAT",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_GL_ACCT_CAT",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GAC_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GAC_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GAC_PARENT",
											"type": "Double"
										},
										"sink": {
											"name": "GAC_PARENT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "ACCOUNT_TYPE",
											"type": "Decimal"
										},
										"sink": {
											"name": "ACCOUNT_TYPE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SEQ",
											"type": "Double"
										},
										"sink": {
											"name": "SEQ",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SDF_GAC_001",
											"type": "String"
										},
										"sink": {
											"name": "SDF_GAC_001",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COSTOFGOODS_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "COSTOFGOODS_FLAG",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "OTHER_INCOME_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "OTHER_INCOME_FLAG",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "OTHER_EXPENSE_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "OTHER_EXPENSE_FLAG",
											"type": "String",
											"physicalType": "nchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvGLAccountCategory",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingGLAcctCat",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum DEPARTMENT",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Quantum DIVISION",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT DPT_AUTO_KEY\n, SYSCM_AUTO_KEY\n, DIV_AUTO_KEY\n, GLS_AUTO_KEY\n, DEPT_NAME\n, SDF_DPT_001\nFROM TESTENV.DEPARTMENT",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_DEPARTMENT",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DPT_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "DPT_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "DIV_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "DIV_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GLS_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GLS_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "DEPT_NAME",
											"type": "String"
										},
										"sink": {
											"name": "DEPT_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SDF_DPT_001",
											"type": "String"
										},
										"sink": {
											"name": "SDF_DPT_001",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvDepartment",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingDepartment",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy WO_SKILLS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy GL_ACCT_CAT",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT WOK_AUTO_KEY\n, DESCRIPTION\n, SDF_WOK_003\n, SDF_WOK_001\n, SDF_WOK_002\n, BILLING_RATE\nFROM TESTENV.WO_SKILLS",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_WO_SKILLS",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "WOK_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "WOK_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SDF_WOK_003",
											"type": "String"
										},
										"sink": {
											"name": "SDF_WOK_003",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SDF_WOK_001",
											"type": "String"
										},
										"sink": {
											"name": "SDF_WOK_001",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SDF_WOK_002",
											"type": "String"
										},
										"sink": {
											"name": "SDF_WOK_002",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BILLING_RATE",
											"type": "Decimal"
										},
										"sink": {
											"name": "BILLING_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvWoSkills",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingWoSkills",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy GL_ACCOUNT",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy WO_SKILLS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT GLA_AUTO_KEY\n, ACCOUNT_NUMBER\n, ACCOUNT_TYPE_DESC\n, SYSCM_AUTO_KEY\n, GAC_AUTO_KEY\n, DESCRIPTION\n, GLS_AUTO_KEY0\n, GLS_AUTO_KEY1\n, GLS_AUTO_KEY2\n, GLS_AUTO_KEY3\n, GLS_AUTO_KEY4\n, LEDGER\n, SEQ\n, BUDGETED\n, COSTOFGOODS_FLAG\n, ALLOW_ENTRY\n, REPLACEABLE\n, OTHER_INCOME_FLAG\n, OTHER_EXPENSE_FLAG\n, CONTROL_ACCOUNT_FLAG\nFROM TESTENV.GL_ACCOUNT",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_GL_ACCOUNT",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GLA_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GLA_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "ACCOUNT_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "ACCOUNT_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ACCOUNT_TYPE_DESC",
											"type": "String"
										},
										"sink": {
											"name": "ACCOUNT_TYPE_DESC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GAC_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GAC_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GLS_AUTO_KEY0",
											"type": "Double"
										},
										"sink": {
											"name": "GLS_AUTO_KEY0",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GLS_AUTO_KEY1",
											"type": "Double"
										},
										"sink": {
											"name": "GLS_AUTO_KEY1",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GLS_AUTO_KEY2",
											"type": "Double"
										},
										"sink": {
											"name": "GLS_AUTO_KEY2",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GLS_AUTO_KEY3",
											"type": "Double"
										},
										"sink": {
											"name": "GLS_AUTO_KEY3",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GLS_AUTO_KEY4",
											"type": "Double"
										},
										"sink": {
											"name": "GLS_AUTO_KEY4",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "LEDGER",
											"type": "String"
										},
										"sink": {
											"name": "LEDGER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SEQ",
											"type": "Double"
										},
										"sink": {
											"name": "SEQ",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "BUDGETED",
											"type": "String"
										},
										"sink": {
											"name": "BUDGETED",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "COSTOFGOODS_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "COSTOFGOODS_FLAG",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "ALLOW_ENTRY",
											"type": "String"
										},
										"sink": {
											"name": "ALLOW_ENTRY",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "REPLACEABLE",
											"type": "String"
										},
										"sink": {
											"name": "REPLACEABLE",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "OTHER_INCOME_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "OTHER_INCOME_FLAG",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "OTHER_EXPENSE_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "OTHER_EXPENSE_FLAG",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "CONTROL_ACCOUNT_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "CONTROL_ACCOUNT_FLAG",
											"type": "String",
											"physicalType": "nchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvGLAccount",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingGLAccount",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum GL_JOURNAL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Quantum DEPARTMENT",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT GLJ_AUTO_KEY\n, CODE\n, DESCRIPTION\nFROM TESTENV.GL_JOURNAL",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_GL_JOURNAL",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GLJ_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GLJ_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "CODE",
											"type": "String"
										},
										"sink": {
											"name": "CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvGLJournal",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingGLJournal",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum GL_DISTRIBUTION",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Quantum GL_PERIOD",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT GLD_AUTO_KEY\n, GLJ_AUTO_KEY\n, GLA_AUTO_KEY\n, CODE\n, DESCRIPTION\nFROM TESTENV.GL_DISTRIBUTION",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_GL_DISTRIBUTION",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GLD_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GLD_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GLJ_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GLJ_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GLA_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GLA_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "CODE",
											"type": "String"
										},
										"sink": {
											"name": "CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvGLDistribution",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingGLDistribution",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum GL_FISCAL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Quantum COMPANIES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT GLF_AUTO_KEY\n, SYSCM_AUTO_KEY\n, DESCRIPTION\nFROM TESTENV.GL_FISCAL",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_GL_FISCAL",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GLF_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GLF_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvGLFiscal",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingGLFiscal",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum GL_PERIOD",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Quantum GL_FISCAL",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT GLP_AUTO_KEY\n, GLF_AUTO_KEY\n, FISCAL_START\n, FISCAL_END\n, GLP_FORWARD\n, GLP_LAST\n, IS_ACTIVE\n, BUDGET_PERIOD\n, FYE_PERIOD\nFROM TESTENV.GL_PERIOD",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_GL_PERIOD",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GLP_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GLP_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GLF_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GLF_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "FISCAL_START",
											"type": "DateTime"
										},
										"sink": {
											"name": "FISCAL_START",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "FISCAL_END",
											"type": "DateTime"
										},
										"sink": {
											"name": "FISCAL_END",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "GLP_FORWARD",
											"type": "Double"
										},
										"sink": {
											"name": "GLP_FORWARD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GLP_LAST",
											"type": "Double"
										},
										"sink": {
											"name": "GLP_LAST",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "IS_ACTIVE",
											"type": "String"
										},
										"sink": {
											"name": "IS_ACTIVE",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "BUDGET_PERIOD",
											"type": "String"
										},
										"sink": {
											"name": "BUDGET_PERIOD",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "FYE_PERIOD",
											"type": "String"
										},
										"sink": {
											"name": "FYE_PERIOD",
											"type": "String",
											"physicalType": "nchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvGLPeriod",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingGLPeriod",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum COMPANIES",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT CMP_AUTO_KEY\n, COMPANY_CODE\n, COMPANY_NAME\n, COMPANY_ABBREV\n, ADDRESS1\n, ADDRESS2\n, ADDRESS3\n, CITY\n, STATE\n, ZIP_CODE\n, COUNTRY\n, SHIP_ADDRESS1\n, SHIP_ADDRESS2\n, SHIP_ADDRESS3\n, SHIP_CITY\n, SHIP_STATE\n, SHIP_ZIP_CODE\n, SHIP_COUNTRY\n, SITE_CODE\n, PHONE_NUMBER\n, ALT_PHONE_NUMBER\n, CUSTOMER_FLAG\n, VENDOR_FLAG\nFROM TESTENV.COMPANIES",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_COMPANIES",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CMP_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "CMP_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "COMPANY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "COMPANY_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COMPANY_NAME",
											"type": "String"
										},
										"sink": {
											"name": "COMPANY_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COMPANY_ABBREV",
											"type": "String"
										},
										"sink": {
											"name": "COMPANY_ABBREV",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS1",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESS1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS2",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESS2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS3",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESS3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CITY",
											"type": "String"
										},
										"sink": {
											"name": "CITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STATE",
											"type": "String"
										},
										"sink": {
											"name": "STATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZIP_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ZIP_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COUNTRY",
											"type": "String"
										},
										"sink": {
											"name": "COUNTRY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIP_ADDRESS1",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_ADDRESS1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIP_ADDRESS2",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_ADDRESS2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIP_ADDRESS3",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_ADDRESS3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIP_CITY",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_CITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIP_STATE",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_STATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIP_ZIP_CODE",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_ZIP_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIP_COUNTRY",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_COUNTRY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SITE_CODE",
											"type": "String"
										},
										"sink": {
											"name": "SITE_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PHONE_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "PHONE_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ALT_PHONE_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "ALT_PHONE_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CUSTOMER_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "CUSTOMER_FLAG",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "VENDOR_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "VENDOR_FLAG",
											"type": "String",
											"physicalType": "nchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvCompanies",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingCompanies",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/StagingSysCompanies')]",
				"[concat(variables('factoryId'), '/datasets/StagingGeoCodes')]",
				"[concat(variables('factoryId'), '/datasets/StagingCountryCodes')]",
				"[concat(variables('factoryId'), '/datasets/StagingDivision')]",
				"[concat(variables('factoryId'), '/datasets/StagingGLSegment')]",
				"[concat(variables('factoryId'), '/datasets/StagingGLAcctCat')]",
				"[concat(variables('factoryId'), '/datasets/StagingDepartment')]",
				"[concat(variables('factoryId'), '/datasets/QuantumTestenvWoSkills')]",
				"[concat(variables('factoryId'), '/datasets/StagingWoSkills')]",
				"[concat(variables('factoryId'), '/datasets/StagingGLAccount')]",
				"[concat(variables('factoryId'), '/datasets/StagingGLJournal')]",
				"[concat(variables('factoryId'), '/datasets/StagingGLDistribution')]",
				"[concat(variables('factoryId'), '/datasets/StagingGLFiscal')]",
				"[concat(variables('factoryId'), '/datasets/StagingGLPeriod')]",
				"[concat(variables('factoryId'), '/datasets/StagingCompanies')]"
			]
		}
	]
}