AscentAnalyticsDataFactory/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "AscentAnalyticsDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/StagingGLFiscal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "GLF_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "SYSCM_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "DESCRIPTION",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_GL_FISCAL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingGLJournal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "GLJ_AUTO_KEY\r\nGLJ_AUTO_KEY\r\nGLJ_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "CODE",
						"type": "nvarchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_GL_JOURNAL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingGLPeriod')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "GLP_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "GLF_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "FISCAL_START",
						"type": "date"
					},
					{
						"name": "FISCAL_END",
						"type": "date"
					},
					{
						"name": "GLP_FORWARD",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "GLP_LAST",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "IS_ACTIVE",
						"type": "nchar"
					},
					{
						"name": "BUDGET_PERIOD",
						"type": "nchar"
					},
					{
						"name": "FYE_PERIOD",
						"type": "nchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_GL_PERIOD"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingGLSegment')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "GLS_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "SEGMENT_NUMBER",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "ACCOUNT",
						"type": "nvarchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "ACCOUNT_TYPE",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "ACCOUNT_TYPE_DESC",
						"type": "nvarchar"
					},
					{
						"name": "SDF_GLS_002",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_GL_SEGMENT"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingGeoCodes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "GEO_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "GEO_CODE",
						"type": "nvarchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "SDF_GEO_001",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_GEO_CODES"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingSysCompanies')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SYSCM_AUTO_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SDF_SYSCM_001",
						"type": "nvarchar"
					},
					{
						"name": "COMPANY_NAME",
						"type": "nvarchar"
					},
					{
						"name": "COMPANY_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ADDRESS1",
						"type": "nvarchar"
					},
					{
						"name": "ADDRESS2",
						"type": "nvarchar"
					},
					{
						"name": "ADDRESS3",
						"type": "nvarchar"
					},
					{
						"name": "CITY",
						"type": "nvarchar"
					},
					{
						"name": "STATE",
						"type": "nvarchar"
					},
					{
						"name": "ZIPCODE",
						"type": "nvarchar"
					},
					{
						"name": "COUNTRY",
						"type": "nvarchar"
					},
					{
						"name": "SHIP_NAME",
						"type": "nvarchar"
					},
					{
						"name": "FAA_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "GLA_EQUITY",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_SYS_COMPANIES"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingSysUsers')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SYSUR_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "EMPLOYEE_CODE",
						"type": "nvarchar"
					},
					{
						"name": "USER_NAME",
						"type": "nvarchar"
					},
					{
						"name": "USER_ID",
						"type": "nvarchar"
					},
					{
						"name": "FIRST_NAME",
						"type": "nvarchar"
					},
					{
						"name": "MIDDLE_NAME",
						"type": "nvarchar"
					},
					{
						"name": "LAST_NAME",
						"type": "nvarchar"
					},
					{
						"name": "EMAIL_ADDRESS",
						"type": "nvarchar"
					},
					{
						"name": "START_DATE",
						"type": "date"
					},
					{
						"name": "END_DATE",
						"type": "date"
					},
					{
						"name": "BIRTH_DATE",
						"type": "date"
					},
					{
						"name": "WOK_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "SYSCM_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "GEO_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "PHONE_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "LICENSE_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "LICENSE_NUMBER",
						"type": "nvarchar"
					},
					{
						"name": "SYSUR_TA_SUPER",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "OVER_TIME",
						"type": "nchar"
					},
					{
						"name": "CONTRACTOR",
						"type": "nchar"
					},
					{
						"name": "DPT_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "CMP_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_SYS_USERS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingSysUsersRate')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "SYSUR_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "EFFECTIVE_DATE",
						"type": "date"
					},
					{
						"name": "RATE",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PERIOD",
						"type": "nchar"
					},
					{
						"name": "VERSION",
						"type": "float",
						"precision": 15
					},
					{
						"name": "DATE_CREATED",
						"type": "date"
					},
					{
						"name": "CREATED_BY",
						"type": "nvarchar"
					},
					{
						"name": "LAST_UPDATED",
						"type": "date"
					},
					{
						"name": "UPDATED_BY",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MROUPG_SYS_USERS_RATE"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingWoSkills')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "WOK_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "SDF_WOK_003",
						"type": "nvarchar"
					},
					{
						"name": "SDF_WOK_001",
						"type": "nvarchar"
					},
					{
						"name": "SDF_WOK_002",
						"type": "nvarchar"
					},
					{
						"name": "BILLING_RATE",
						"type": "decimal",
						"precision": 22,
						"scale": 19
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_WO_SKILLS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingWoTaskType')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "WOT_AUTO_KEY",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "WOT_SDF_001",
						"type": "nvarchar"
					},
					{
						"name": "TASK_TYPE",
						"type": "nvarchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "BASE_TYPE",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TESTENV_WO_TASK_TYPE"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagingTimeCode')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "TIME_CODE",
						"type": "nvarchar"
					},
					{
						"name": "DESCRIPTION",
						"type": "nvarchar"
					},
					{
						"name": "TYPE",
						"type": "nvarchar"
					},
					{
						"name": "VERSION",
						"type": "decimal",
						"precision": 22,
						"scale": 0
					},
					{
						"name": "EXTERNAL_CODE",
						"type": "nvarchar"
					},
					{
						"name": "SD_PAY_CODE",
						"type": "nvarchar"
					},
					{
						"name": "SECONDARY_APPROVAL",
						"type": "nchar"
					},
					{
						"name": "ABSENCE",
						"type": "nchar"
					},
					{
						"name": "REQUIRES_ACCRUAL",
						"type": "nchar"
					},
					{
						"name": "ACTIVE",
						"type": "nchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "MROUPG_TIME_CODE"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy Quantum Dim Data to Staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Quantum SYS_COMPANIES Table to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Quantum COUNTRY_CODES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT SYS_COMPANIES.SYSCM_AUTO_KEY\n,SYS_COMPANIES.SDF_SYSCM_001\n,SYS_COMPANIES.COMPANY_NAME\n,SYS_COMPANIES.COMPANY_ID\n,SYS_COMPANIES.ADDRESS1\n,SYS_COMPANIES.ADDRESS2\n,SYS_COMPANIES.ADDRESS3\n,SYS_COMPANIES.CITY\n,SYS_COMPANIES.STATE\n,SYS_COMPANIES.ZIP_CODE\n,SYS_COMPANIES.COUNTRY\n,SYS_COMPANIES.SHIP_NAME\n,SYS_COMPANIES.FAA_NUMBER\n,SYS_COMPANIES.GLA_EQUITY\nFROM TESTENV.SYS_COMPANIES",
								"partitionOption": "None",
								"convertDecimalToInteger": true,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.TESTENV_SYS_COMPANIES",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SDF_SYSCM_001",
											"type": "String"
										},
										"sink": {
											"name": "SDF_SYSCM_001",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COMPANY_NAME",
											"type": "String"
										},
										"sink": {
											"name": "COMPANY_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COMPANY_ID",
											"type": "String"
										},
										"sink": {
											"name": "COMPANY_ID",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS1",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESS1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS2",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESS2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS3",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESS3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CITY",
											"type": "String"
										},
										"sink": {
											"name": "CITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STATE",
											"type": "String"
										},
										"sink": {
											"name": "STATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZIP_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ZIP_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COUNTRY",
											"type": "String"
										},
										"sink": {
											"name": "COUNTRY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIP_NAME",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FAA_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "FAA_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GLA_EQUITY",
											"type": "Double"
										},
										"sink": {
											"name": "GLA_EQUITY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvSysCompanies",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingSysCompanies",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum GEO_CODES",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT GEO_AUTO_KEY\n, GEO_CODE\n, DESCRIPTION\n, SDF_GEO_001\nFROM TESTENV.GEO_CODES",
								"partitionOption": "None",
								"convertDecimalToInteger": true,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE dbo.TESTENV_GEO_CODES",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GEO_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GEO_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GEO_CODE",
											"type": "String"
										},
										"sink": {
											"name": "GEO_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SDF_GEO_001",
											"type": "String"
										},
										"sink": {
											"name": "SDF_GEO_001",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvGeoCodes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingGeoCodes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum COUNTRY_CODES",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT COC_AUTO_KEY\n, CODE\n, COUNTRY_NAME\nFROM TESTENV.COUNTRY_CODES",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_COUNTRY_CODES",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "COC_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "COC_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "CODE",
											"type": "String"
										},
										"sink": {
											"name": "CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COUNTRY_NAME",
											"type": "String"
										},
										"sink": {
											"name": "COUNTRY_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvCountryCodes",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingCountryCodes",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum DIVISION",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Quantum SYS_COMPANIES Table to Staging",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT DIV_AUTO_KEY\n, SYSCM_AUTO_KEY\n, SDF_DIV_001\n, DIVISION_NAME\nFROM TESTENV.DIVISION",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_DIVISION",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DIV_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "DIV_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SDF_DIV_001",
											"type": "String"
										},
										"sink": {
											"name": "SDF_DIV_001",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DIVISION_NAME",
											"type": "String"
										},
										"sink": {
											"name": "DIVISION_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvDivision",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingDivision",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy GL_SEGMENT",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Quantum GEO_CODES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT GLS_AUTO_KEY\n, SEGMENT_NUMBER\n, ACCOUNT\n, DESCRIPTION\n, ACCOUNT_TYPE\n, ACCOUNT_TYPE_DESC\n, SDF_GLS_002\nFROM TESTENV.GL_SEGMENT",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_GL_SEGMENT",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GLS_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GLS_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SEGMENT_NUMBER",
											"type": "Double"
										},
										"sink": {
											"name": "SEGMENT_NUMBER",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "ACCOUNT",
											"type": "String"
										},
										"sink": {
											"name": "ACCOUNT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ACCOUNT_TYPE",
											"type": "Decimal"
										},
										"sink": {
											"name": "ACCOUNT_TYPE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "ACCOUNT_TYPE_DESC",
											"type": "String"
										},
										"sink": {
											"name": "ACCOUNT_TYPE_DESC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SDF_GLS_002",
											"type": "String"
										},
										"sink": {
											"name": "SDF_GLS_002",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvGLSegment",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingGLSegment",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy GL_ACCT_CAT",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy GL_SEGMENT",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT GAC_AUTO_KEY\n, GAC_PARENT\n, SYSCM_AUTO_KEY\n, ACCOUNT_TYPE\n, SEQ\n, DESCRIPTION\n, SDF_GAC_001\n, COSTOFGOODS_FLAG\n, OTHER_INCOME_FLAG\n, OTHER_EXPENSE_FLAG\nFROM TESTENV.GL_ACCT_CAT",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_GL_ACCT_CAT",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GAC_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GAC_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GAC_PARENT",
											"type": "Double"
										},
										"sink": {
											"name": "GAC_PARENT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "ACCOUNT_TYPE",
											"type": "Decimal"
										},
										"sink": {
											"name": "ACCOUNT_TYPE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SEQ",
											"type": "Double"
										},
										"sink": {
											"name": "SEQ",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SDF_GAC_001",
											"type": "String"
										},
										"sink": {
											"name": "SDF_GAC_001",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COSTOFGOODS_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "COSTOFGOODS_FLAG",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "OTHER_INCOME_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "OTHER_INCOME_FLAG",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "OTHER_EXPENSE_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "OTHER_EXPENSE_FLAG",
											"type": "String",
											"physicalType": "nchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvGLAccountCategory",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingGLAcctCat",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum DEPARTMENT",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Quantum DIVISION",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT DPT_AUTO_KEY\n, SYSCM_AUTO_KEY\n, DIV_AUTO_KEY\n, GLS_AUTO_KEY\n, DEPT_NAME\n, SDF_DPT_001\nFROM TESTENV.DEPARTMENT",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_DEPARTMENT",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DPT_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "DPT_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "DIV_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "DIV_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GLS_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GLS_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "DEPT_NAME",
											"type": "String"
										},
										"sink": {
											"name": "DEPT_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SDF_DPT_001",
											"type": "String"
										},
										"sink": {
											"name": "SDF_DPT_001",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvDepartment",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingDepartment",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy WO_SKILLS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy GL_ACCT_CAT",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT WOK_AUTO_KEY\n, DESCRIPTION\n, SDF_WOK_003\n, SDF_WOK_001\n, SDF_WOK_002\n, BILLING_RATE\nFROM TESTENV.WO_SKILLS",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_WO_SKILLS",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "WOK_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "WOK_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SDF_WOK_003",
											"type": "String"
										},
										"sink": {
											"name": "SDF_WOK_003",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SDF_WOK_001",
											"type": "String"
										},
										"sink": {
											"name": "SDF_WOK_001",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SDF_WOK_002",
											"type": "String"
										},
										"sink": {
											"name": "SDF_WOK_002",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BILLING_RATE",
											"type": "Decimal"
										},
										"sink": {
											"name": "BILLING_RATE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvWoSkills",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingWoSkills",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy GL_ACCOUNT",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy WO_SKILLS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT GLA_AUTO_KEY\n, ACCOUNT_NUMBER\n, ACCOUNT_TYPE_DESC\n, SYSCM_AUTO_KEY\n, GAC_AUTO_KEY\n, DESCRIPTION\n, GLS_AUTO_KEY0\n, GLS_AUTO_KEY1\n, GLS_AUTO_KEY2\n, GLS_AUTO_KEY3\n, GLS_AUTO_KEY4\n, LEDGER\n, SEQ\n, BUDGETED\n, COSTOFGOODS_FLAG\n, ALLOW_ENTRY\n, REPLACEABLE\n, OTHER_INCOME_FLAG\n, OTHER_EXPENSE_FLAG\n, CONTROL_ACCOUNT_FLAG\nFROM TESTENV.GL_ACCOUNT",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_GL_ACCOUNT",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GLA_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GLA_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "ACCOUNT_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "ACCOUNT_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ACCOUNT_TYPE_DESC",
											"type": "String"
										},
										"sink": {
											"name": "ACCOUNT_TYPE_DESC",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GAC_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GAC_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GLS_AUTO_KEY0",
											"type": "Double"
										},
										"sink": {
											"name": "GLS_AUTO_KEY0",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GLS_AUTO_KEY1",
											"type": "Double"
										},
										"sink": {
											"name": "GLS_AUTO_KEY1",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GLS_AUTO_KEY2",
											"type": "Double"
										},
										"sink": {
											"name": "GLS_AUTO_KEY2",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GLS_AUTO_KEY3",
											"type": "Double"
										},
										"sink": {
											"name": "GLS_AUTO_KEY3",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GLS_AUTO_KEY4",
											"type": "Double"
										},
										"sink": {
											"name": "GLS_AUTO_KEY4",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "LEDGER",
											"type": "String"
										},
										"sink": {
											"name": "LEDGER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SEQ",
											"type": "Double"
										},
										"sink": {
											"name": "SEQ",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "BUDGETED",
											"type": "String"
										},
										"sink": {
											"name": "BUDGETED",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "COSTOFGOODS_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "COSTOFGOODS_FLAG",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "ALLOW_ENTRY",
											"type": "String"
										},
										"sink": {
											"name": "ALLOW_ENTRY",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "REPLACEABLE",
											"type": "String"
										},
										"sink": {
											"name": "REPLACEABLE",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "OTHER_INCOME_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "OTHER_INCOME_FLAG",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "OTHER_EXPENSE_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "OTHER_EXPENSE_FLAG",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "CONTROL_ACCOUNT_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "CONTROL_ACCOUNT_FLAG",
											"type": "String",
											"physicalType": "nchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvGLAccount",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingGLAccount",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum GL_JOURNAL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Quantum DEPARTMENT",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT GLJ_AUTO_KEY\n, CODE\n, DESCRIPTION\nFROM TESTENV.GL_JOURNAL",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_GL_JOURNAL",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GLJ_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GLJ_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "CODE",
											"type": "String"
										},
										"sink": {
											"name": "CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvGLJournal",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingGLJournal",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum GL_DISTRIBUTION",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Quantum GL_PERIOD",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT GLD_AUTO_KEY\n, GLJ_AUTO_KEY\n, GLA_AUTO_KEY\n, CODE\n, DESCRIPTION\nFROM TESTENV.GL_DISTRIBUTION",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_GL_DISTRIBUTION",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GLD_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GLD_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GLJ_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GLJ_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GLA_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GLA_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "CODE",
											"type": "String"
										},
										"sink": {
											"name": "CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvGLDistribution",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingGLDistribution",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum GL_FISCAL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Quantum COMPANIES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT GLF_AUTO_KEY\n, SYSCM_AUTO_KEY\n, DESCRIPTION\nFROM TESTENV.GL_FISCAL",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_GL_FISCAL",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GLF_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GLF_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvGLFiscal",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingGLFiscal",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum GL_PERIOD",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Quantum GL_FISCAL",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT GLP_AUTO_KEY\n, GLF_AUTO_KEY\n, FISCAL_START\n, FISCAL_END\n, GLP_FORWARD\n, GLP_LAST\n, IS_ACTIVE\n, BUDGET_PERIOD\n, FYE_PERIOD\nFROM TESTENV.GL_PERIOD",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_GL_PERIOD",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GLP_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GLP_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GLF_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GLF_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "FISCAL_START",
											"type": "DateTime"
										},
										"sink": {
											"name": "FISCAL_START",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "FISCAL_END",
											"type": "DateTime"
										},
										"sink": {
											"name": "FISCAL_END",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "GLP_FORWARD",
											"type": "Double"
										},
										"sink": {
											"name": "GLP_FORWARD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GLP_LAST",
											"type": "Double"
										},
										"sink": {
											"name": "GLP_LAST",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "IS_ACTIVE",
											"type": "String"
										},
										"sink": {
											"name": "IS_ACTIVE",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "BUDGET_PERIOD",
											"type": "String"
										},
										"sink": {
											"name": "BUDGET_PERIOD",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "FYE_PERIOD",
											"type": "String"
										},
										"sink": {
											"name": "FYE_PERIOD",
											"type": "String",
											"physicalType": "nchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvGLPeriod",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingGLPeriod",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum COMPANIES",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Quantum SYS_USERS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT CMP_AUTO_KEY\n, COMPANY_CODE\n, COMPANY_NAME\n, COMPANY_ABBREV\n, ADDRESS1\n, ADDRESS2\n, ADDRESS3\n, CITY\n, STATE\n, ZIP_CODE\n, COUNTRY\n, SHIP_ADDRESS1\n, SHIP_ADDRESS2\n, SHIP_ADDRESS3\n, SHIP_CITY\n, SHIP_STATE\n, SHIP_ZIP_CODE\n, SHIP_COUNTRY\n, SITE_CODE\n, PHONE_NUMBER\n, ALT_PHONE_NUMBER\n, CUSTOMER_FLAG\n, VENDOR_FLAG\nFROM TESTENV.COMPANIES",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_COMPANIES",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CMP_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "CMP_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "COMPANY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "COMPANY_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COMPANY_NAME",
											"type": "String"
										},
										"sink": {
											"name": "COMPANY_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COMPANY_ABBREV",
											"type": "String"
										},
										"sink": {
											"name": "COMPANY_ABBREV",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS1",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESS1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS2",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESS2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ADDRESS3",
											"type": "String"
										},
										"sink": {
											"name": "ADDRESS3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CITY",
											"type": "String"
										},
										"sink": {
											"name": "CITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STATE",
											"type": "String"
										},
										"sink": {
											"name": "STATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZIP_CODE",
											"type": "String"
										},
										"sink": {
											"name": "ZIP_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COUNTRY",
											"type": "String"
										},
										"sink": {
											"name": "COUNTRY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIP_ADDRESS1",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_ADDRESS1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIP_ADDRESS2",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_ADDRESS2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIP_ADDRESS3",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_ADDRESS3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIP_CITY",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_CITY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIP_STATE",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_STATE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIP_ZIP_CODE",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_ZIP_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SHIP_COUNTRY",
											"type": "String"
										},
										"sink": {
											"name": "SHIP_COUNTRY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SITE_CODE",
											"type": "String"
										},
										"sink": {
											"name": "SITE_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PHONE_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "PHONE_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ALT_PHONE_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "ALT_PHONE_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CUSTOMER_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "CUSTOMER_FLAG",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "VENDOR_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "VENDOR_FLAG",
											"type": "String",
											"physicalType": "nchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvCompanies",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingCompanies",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum SYS_USERS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT SYSUR_AUTO_KEY\n, EMPLOYEE_CODE\n, USER_NAME\n, USER_ID\n, FIRST_NAME\n, MIDDLE_NAME\n, LAST_NAME\n, EMAIL_ADDRESS\n, START_DATE\n, END_DATE\n, BIRTH_DATE\n, WOK_AUTO_KEY\n, SYSCM_AUTO_KEY\n, GEO_AUTO_KEY\n, PHONE_NUMBER\n, LICENSE_TYPE\n, LICENSE_NUMBER\n, SYSUR_TA_SUPER\n, OVER_TIME\n, CONTRACTOR\n, DPT_AUTO_KEY\n, CMP_AUTO_KEY\nFROM TESTENV.SYS_USERS",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_SYS_USERS",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SYSUR_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "SYSUR_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "EMPLOYEE_CODE",
											"type": "String"
										},
										"sink": {
											"name": "EMPLOYEE_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "USER_NAME",
											"type": "String"
										},
										"sink": {
											"name": "USER_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "USER_ID",
											"type": "String"
										},
										"sink": {
											"name": "USER_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FIRST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "FIRST_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MIDDLE_NAME",
											"type": "String"
										},
										"sink": {
											"name": "MIDDLE_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LAST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "LAST_NAME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EMAIL_ADDRESS",
											"type": "String"
										},
										"sink": {
											"name": "EMAIL_ADDRESS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "START_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "START_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "END_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "END_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "BIRTH_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "BIRTH_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "WOK_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "WOK_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "GEO_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "GEO_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "PHONE_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "PHONE_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LICENSE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "LICENSE_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LICENSE_NUMBER",
											"type": "String"
										},
										"sink": {
											"name": "LICENSE_NUMBER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SYSUR_TA_SUPER",
											"type": "Double"
										},
										"sink": {
											"name": "SYSUR_TA_SUPER",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "OVER_TIME",
											"type": "String"
										},
										"sink": {
											"name": "OVER_TIME",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "CONTRACTOR",
											"type": "String"
										},
										"sink": {
											"name": "CONTRACTOR",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "DPT_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "DPT_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "CMP_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "CMP_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvSysUsers",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingSysUsers",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum WO_TASK_TYPE",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Quantum TIME_CODE",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT WTP_AUTO_KEY\n, SDF_WTP_001\n, TASK_TYPE\n, DESCRIPTION\n, BASE_TYPE\nFROM TESTENV.WO_TASK_TYPE",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE TESTENV_WO_TASK_TYPE",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "WTP_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "WTP_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SDF_WTP_001",
											"type": "String"
										},
										"sink": {
											"name": "SDF_WTP_001",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TASK_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "TASK_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BASE_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "BASE_TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumTestenvWoTaskType",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingWoTaskType",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum SYS_USERS_RATE",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Quantum WO_TASK_TYPE",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT ID\n, SYSUR_AUTO_KEY\n, EFFECTIVE_DATE\n, RATE\n, PERIOD\n, VERSION\n, DATE_CREATED\n, CREATED_BY\n, LAST_UPDATED\n, UPDATED_BY\nFROM MROUPG.SYS_USERS_RATE\nWHERE DELETE_DATE IS NULL",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE MROUPG_SYS_USERS_RATE",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Double"
										},
										"sink": {
											"name": "ID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SYSUR_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "SYSUR_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "EFFECTIVE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "EFFECTIVE_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "RATE",
											"type": "Double"
										},
										"sink": {
											"name": "RATE",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "PERIOD",
											"type": "String"
										},
										"sink": {
											"name": "PERIOD",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "VERSION",
											"type": "Decimal"
										},
										"sink": {
											"name": "VERSION",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 5,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "DATE_CREATED",
											"type": "DateTime"
										},
										"sink": {
											"name": "DATE_CREATED",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "CREATED_BY",
											"type": "String"
										},
										"sink": {
											"name": "CREATED_BY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LAST_UPDATED",
											"type": "DateTime"
										},
										"sink": {
											"name": "LAST_UPDATED",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "UPDATED_BY",
											"type": "String"
										},
										"sink": {
											"name": "UPDATED_BY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumMroupgSysUsersRate",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingSysUsersRate",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum TIME_CODE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT ID\n, CODE\n, DESCRIPTION\n, TYPE\n, VERSION\n, EXTERNAL_CODE\n, SD_PAY_CODE\n, SECONDARY_APPROVAL\n, ABSENCE\n, REQUIRES_ACCRUAL\n, ACTIVE\nFROM MROUPG.TIME_CODE",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE MROUPG_TIME_CODE",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Double"
										},
										"sink": {
											"name": "ID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "CODE",
											"type": "String"
										},
										"sink": {
											"name": "CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DESCRIPTION",
											"type": "String"
										},
										"sink": {
											"name": "DESCRIPTION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TYPE",
											"type": "String"
										},
										"sink": {
											"name": "TYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VERSION",
											"type": "Decimal"
										},
										"sink": {
											"name": "VERSION",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "EXTERNAL_CODE",
											"type": "String"
										},
										"sink": {
											"name": "EXTERNAL_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SD_PAY_CODE",
											"type": "String"
										},
										"sink": {
											"name": "SD_PAY_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SECONDARY_APPROVAL",
											"type": "String"
										},
										"sink": {
											"name": "SECONDARY_APPROVAL",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "ABSENCE",
											"type": "String"
										},
										"sink": {
											"name": "ABSENCE",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "REQUIRES_ACCRUAL",
											"type": "String"
										},
										"sink": {
											"name": "REQUIRES_ACCRUAL",
											"type": "String",
											"physicalType": "nchar"
										}
									},
									{
										"source": {
											"name": "ACTIVE",
											"type": "String"
										},
										"sink": {
											"name": "ACTIVE",
											"type": "String",
											"physicalType": "nchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumMroupgTimeCode",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingTimeCode",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/StagingSysCompanies')]",
				"[concat(variables('factoryId'), '/datasets/StagingGeoCodes')]",
				"[concat(variables('factoryId'), '/datasets/StagingGLSegment')]",
				"[concat(variables('factoryId'), '/datasets/StagingWoSkills')]",
				"[concat(variables('factoryId'), '/datasets/StagingGLJournal')]",
				"[concat(variables('factoryId'), '/datasets/StagingGLFiscal')]",
				"[concat(variables('factoryId'), '/datasets/StagingGLPeriod')]",
				"[concat(variables('factoryId'), '/datasets/StagingSysUsers')]",
				"[concat(variables('factoryId'), '/datasets/StagingWoTaskType')]",
				"[concat(variables('factoryId'), '/datasets/StagingSysUsersRate')]",
				"[concat(variables('factoryId'), '/datasets/StagingTimeCode')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy Quantum Fact Data to Staging')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Quantum EFFICIENCY_DETAIL_TAB",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT WOO.DPT_AUTO_KEY\n, EDT.SYS_UR_AUTO_KEY\n, EDT.WORK_DATE\n, EDT.WOT_AUTO_KEY\n, WTP_AUTO_KEY\n, EDT.WOK_AUTO_KEY\n, EDT.BILLABLE\n, EDT.NON_BILLABLE\n, EDT.GRAVY\n, EDT.PROJECT_BILL\n, EDT.PRJ_NB\n, EDT.SUPPORT_BILL\n, EDT.SUPPORT_NB\n, EDT.IN_HOUSE_NON\n, EDT.REWORK\n, EDT.TRAINING\n, EDT.DAMAGE\n, EDT.NPT\nFROM MROUPG.EFFICIENCY_DETAIL_TAB EDT\n, TESTENV.WO_TASK WOT\n, TESTENV.WO_OPERATION WOO\n, TESTENV.WO_TASK_MASTER WTM\nWHERE EDT.WOT_AUTO_KEY = WOT.WOT_AUTO_KEY\nAND WOT.WOO_AUTO_KEY = WOO.WOO_AUTO_KEY\nAND WOT.WTM_AUTO_KEY = WTM.WTM_AUTO_KEY\nAND WORK_DATE >= TO_DATE('01/01/2018', 'MM/DD/YYYY')",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE MROUPG_EFFICIENCY_DETAIL_TAB",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DPT_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "DPT_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SYS_UR_AUTO_KEY",
											"type": "Decimal"
										},
										"sink": {
											"name": "SYS_UR_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "WORK_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "WORK_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "WOT_AUTO_KEY",
											"type": "Decimal"
										},
										"sink": {
											"name": "WOT_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "WTP_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "WTP_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "WOK_AUTO_KEY",
											"type": "Decimal"
										},
										"sink": {
											"name": "WOK_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "BILLABLE",
											"type": "Double"
										},
										"sink": {
											"name": "BILLABLE",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "NON_BILLABLE",
											"type": "Double"
										},
										"sink": {
											"name": "NON_BILLABLE",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "GRAVY",
											"type": "Double"
										},
										"sink": {
											"name": "GRAVY",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "PROJECT_BILL",
											"type": "Double"
										},
										"sink": {
											"name": "PROJECT_BILL",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "PRJ_NB",
											"type": "Double"
										},
										"sink": {
											"name": "PRJ_NB",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "SUPPORT_BILL",
											"type": "Double"
										},
										"sink": {
											"name": "SUPPORT_BILL",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "SUPPORT_NB",
											"type": "Double"
										},
										"sink": {
											"name": "SUPPORT_NB",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "IN_HOUSE_NON",
											"type": "Double"
										},
										"sink": {
											"name": "IN_HOUSE_NON",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "REWORK",
											"type": "Double"
										},
										"sink": {
											"name": "REWORK",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "TRAINING",
											"type": "Double"
										},
										"sink": {
											"name": "TRAINING",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "DAMAGE",
											"type": "Double"
										},
										"sink": {
											"name": "DAMAGE",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "NPT",
											"type": "Double"
										},
										"sink": {
											"name": "NPT",
											"type": "Double",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumMroupgEfficiencyDetailTab",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingEfficiencyDetailTab",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum DIVISION_PAY_POSTINGS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT DIV_AUTO_KEY\n, SYSUR_AUTO_KEY\n, POST_DATE\n, SYSCM_AUTO_KEY\n, REG_HOURS\n, OT_HOURS\n, BER_HOURS\n, CALLIN_HOURS\n, JUR_HOURS\n, HOL_HOURS\n, PTO_HOURS\n, VAC_HOURS\nFROM MROUPG.DIVISION_PAY_POSTINGS\nWHERE POST_DATE >= TO_DATE('01/01/2018', 'MM/DD/YYYY')",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE MROUPG_DIVISION_PAY_POSTINGS",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DIV_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "DIV_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SYSUR_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "SYSUR_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "POST_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "POST_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "REG_HOURS",
											"type": "Double"
										},
										"sink": {
											"name": "REG_HOURS",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "OT_HOURS",
											"type": "Double"
										},
										"sink": {
											"name": "OT_HOURS",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "BER_HOURS",
											"type": "Double"
										},
										"sink": {
											"name": "BER_HOURS",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "CALLIN_HOURS",
											"type": "Double"
										},
										"sink": {
											"name": "CALLIN_HOURS",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "JUR_HOURS",
											"type": "Double"
										},
										"sink": {
											"name": "JUR_HOURS",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "HOL_HOURS",
											"type": "Double"
										},
										"sink": {
											"name": "HOL_HOURS",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "PTO_HOURS",
											"type": "Double"
										},
										"sink": {
											"name": "PTO_HOURS",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "VAC_HOURS",
											"type": "Double"
										},
										"sink": {
											"name": "VAC_HOURS",
											"type": "Double",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumMroupgDivisionPayPostings",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingDivisionPayPostings",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy Quantum DIVISION_WORKED_HOURS",
						"description": "SELECT DIV_AUTO_KEY\n, SYS_UR_AUTO_KEY\n, WORK_DATE\n, SYSCM_AUTO_KEY\n, SUPPORT_CODE\n, TOTAL_DIV_HOURS\n, USER_DAY_HOURS\nFROM MROUPG.DIVISION_WORKED_HOURS\nWHERE WORK_DATE >= TO_DATE('01/01/2018', 'MM/DD/YYYY')",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Quantum DIVISION_PAY_POSTINGS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT DIV_AUTO_KEY\n, SYS_UR_AUTO_KEY\n, WORK_DATE\n, SYSCM_AUTO_KEY\n, SUPPORT_CODE\n, TOTAL_DIV_HOURS\n, USER_DAY_HOURS\nFROM MROUPG.DIVISION_WORKED_HOURS\nWHERE WORK_DATE >= TO_DATE('01/01/2018', 'MM/DD/YYYY')",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE MROUPG_DIVISION_WORKED_HOURS",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": true,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DIV_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "DIV_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SYS_UR_AUTO_KEY",
											"type": "Decimal"
										},
										"sink": {
											"name": "SYS_UR_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "WORK_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "WORK_DATE",
											"type": "DateTime",
											"physicalType": "date"
										}
									},
									{
										"source": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Double"
										},
										"sink": {
											"name": "SYSCM_AUTO_KEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 22
										}
									},
									{
										"source": {
											"name": "SUPPORT_CODE",
											"type": "String"
										},
										"sink": {
											"name": "SUPPORT_CODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TOTAL_DIV_HOURS",
											"type": "Double"
										},
										"sink": {
											"name": "TOTAL_DIV_HOURS",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "USER_DAY_HOURS",
											"type": "Double"
										},
										"sink": {
											"name": "USER_DAY_HOURS",
											"type": "Double",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "QuantumMroupgDivisionWorkedHours",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "StagingDivisionWorkedHours",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}